.user-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.toggleButton {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggleButton:hover {
  background-color: #2980b9;
}